@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts setting */

@font-face {
  font-family: 'sukhumvit';
  src: url('assets/fonts/sukhumvit-set/SukhumvitSet-Text.ttf') format('truetype');
}

@font-face {
  font-family: 'sukhumvit-bold';
  src: url('assets/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'sukhumvit-semibold';
  src: url('assets/fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf') format('truetype');
}

/*
 * Disable scrollbar
 */
 
/* - Chrome Safari Edge */
*::-webkit-scrollbar {
  /* width: 4px !important; */
  width: 0 !important;
}

*::-webkit-scrollbar-thumb {
  /* background: rgb(88, 89, 91); */
  background: transparent !important;
  /* border-radius: 4px; */
}
*::-webkit-scrollbar-track {
  box-shadow: none !important;
  background: transparent;
}

*::-webkit-scrollbar-thumb:hover {
  /* background: rgb(138, 139, 141); */
  background: transparent !important;
}

 .scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Default setting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'sukhumvit'; */
  font-family: 'Sriracha', cursive;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

.sukhumvit {
  font-family: 'sukhumvit';
}

.sukhumvit-semibold {
  font-family: 'sukhumvit-semibold';
}

.sukhumvit-bold {
  font-family: 'sukhumvit-bold';
}

